body {
	padding-top: 50px;
	background-color: #fafafa;
	text-align: center;
}

a {
	display: inline-block;
}
a img {
	float: left;
}

.modalDialog {
	position: relative;
	margin-top: 30px;
}

.modal-title {
	margin-bottom: 10px;
}

.modalBody {
	padding-top: 20px;
}

#logo {
	display: inline-block;
	margin: 16px auto;
	width: 60px;
}

#loginForm {
	padding: 20px;
}

.modalFooter {
	padding-bottom: 20px;
}

.forgotPasswordLink {
	font-weight: 300;
	margin-top: 10px;
	font-size: 16px;
}