



























@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i');


body, html body {
    padding: 0;
}
.splash-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 300vh;
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    z-index: 999999;
    pointer-events: none;
}
.with-splash,
.with-splash body {
    overflow: hidden;
}
.with-splash .splash-image {
    opacity: 1;
    pointer-events: auto;
}
.with-splash .body-container-wrapper,
.with-splash .footer-container-wrapper {
    opacity: 0;
    pointer-events: none;
}


.body-container{
    padding-left: 0;
    padding-right: 0;
}

.body-menu-position{
    padding-top:70px;
}

.row-fluid.row-fluid [class*="span"] {
    min-height: 0;
}

@media (max-width: 1139px) and (min-width: 768px) {
    .row-fluid.row-fluid [class*="span"]{
        min-height: 0;
    }
  
}

.col-xs-2_4 {
    width: 20%;
    float: left;
}

.col-xs-2_4, .col-sm-2_4, .col-md-2_4, .col-lg-2_4 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .col-sm-2_4 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-2_4 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-2_4 {
        width: 20%;
        float: left;
    }
}


.dm-icon {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 95px;
    height: 95px;
    margin: 0 50px;
    border: 7px solid #fff55b;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    font-size: 48px;
    font-weight: normal;
    color: #fff55b;
    line-height: 81px;
}

.wistia_responsive_wrapper * {
    z-index: auto;
}

/* oembed */
a.oembed, .oembedall-closehide, .oembedall-container > br {
    display: none;
}
.oembedall-container.oembedall-container {
    margin: 0;
    height: 100%;
}
.oembedall-container.oembedall-container .wistia_responsive_padding {
    height: 100%;
}
.oembedall-container iframe {
    display: block;
    width: 100%;
    height: 100%;
}


/* Form Default */
input:not([type=submit]):not([type=file]):not([type=checkbox]), .uneditable-input {
    display: block;
    width: 100% !important;
    background-color: #fff;
    background-image: none;
    border: 2px solid #bdc3c7;
    color: #34495e;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.467;
    padding: 8px 12px;
    height: 42px;
    -webkit-appearance: none;
    border-radius: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
}

input[type=checkbox] {
    margin-top: 0;
}

/*textarea, input[type="text"], input[type="password"], */
/*input[type="datetime"], input[type="datetime-local"], */
/*input[type="date"], input[type="month"], input[type="time"], */
/*input[type="week"], input[type="number"], */
/*input[type="email"], input[type="url"], */
/*input[type="search"], input[type="tel"], input[type="color"], */
/*.uneditable-input {*/
/*    display: block;*/
/*    width: 100% !important;*/
/*    background-color: #fff;*/
/*    background-image: none;*/
/*    border: 2px solid #bdc3c7;*/
/*    color: #34495e;*/
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*    font-size: 15px;*/
/*    line-height: 1.467;*/
/*    padding: 8px 12px;*/
/*    height: 42px;*/
/*    -webkit-appearance: none;*/
/*    border-radius: 6px;*/
/*    -webkit-box-shadow: none;*/
/*    box-shadow: none;*/
/*    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;*/
/*    transition: border .25s linear, color .25s linear, background-color .25s linear;*/
/*}*/

input[type="submit"] {
    border: none;
    font-size: 15px;
    font-weight: normal;
    color: #ffffff;
    background-color: #1abc9c;
    border-radius: 4px;
    padding: 10px 15px;
    outline: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    line-height: 22px;
    -webkit-transition: color 0.25s, background 0.25s;
    -moz-transition: color 0.25s, background 0.25s;
    -o-transition: color 0.25s, background 0.25s;
    transition: color 0.25s, background 0.25s;
}

input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
    color: #ffffff;
    background-color: #48c9b0;
    border-color: #48c9b0;
}

.hs-form fieldset {
    position: relative;
}

.hs-form label {
    margin-bottom: 12px;
}

.hs-error-msgs {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

.hs-error-msgs li label {
    margin-top: 5px;
    margin-bottom: 0 !important;
    color: #e74c3c !important;
}

.hs-form > div, .hs-form > fieldset {
    margin-left: -10px;
    margin-right: -10px;
    max-width: none !important;
}

.hs-form  .field, .hs-form .actions {
    padding: 0 10px;
}

.hs-form  .field {
    margin-bottom: 29px;
}


.hs-form fieldset .input {
    margin-right: 0 !important;
}

.hs-form fieldset.form-columns-1 .input, .hs-form fieldset.form-columns-2 .input {
    margin-right: 0 !important;
}

.hs-form fieldset.form-columns-1 .hs-input {
    width: 100% !important;
}

.hs-form fieldset.form-columns-3 .hs-form-field {
    width: 33.33333333% !important;
}



@media (max-width: 480px) {  
    .hs-form label {
        margin-bottom: 0 !important;
    }
    
    .hs-form > div, .hs-form > fieldset {
        margin-left: 0;
        margin-right: 0;
    }
    
    .hs-form  .field, .hs-form .actions {
        padding: 0;
    }
    
    .hs-form fieldset.form-columns-3 .hs-form-field {
        width: 100% !important;
    }
}



/*--- HEADERS ---*/

/* Default Styles */

.row-fluid [class*="span"].dm-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 51;
    background-color: #ffffff;
    padding: 15px;
    min-height: 70px;
    -webkit-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.09);
    box-shadow: 0px 1px 13px 0px rgba(0,0,0,0.09);
}

.row-fluid [class*="span"].dm-company-name {
    font-size: 20px;
    margin-top: 6px;
    position: relative;
    z-index: 1;
}

.row-fluid [class*="span"].dm-company-name a {
    color: #7f8c8d;
}

.row-fluid [class*="span"].dm-navigation .hs-menu-wrapper.hs-menu-flow-horizontal{
    text-align: right;
}

.row-fluid [class*="span"].dm-navigation .hs-menu-wrapper.hs-menu-flow-horizontal > ul > li.hs-menu-depth-1 {
    display: inline-block;
}

.row-fluid [class*="span"].dm-navigation .hs-menu-wrapper.hs-menu-flow-horizontal > ul > li.hs-menu-depth-1 a {
    font-size: 16px;
    padding: 10px 15px;
}

.burger-nav {
    display: none;
}

@media (max-width: 767px) {    
    .row-fluid [class*="span"].dm-navigation {
        position: fixed;
        width: 280px;
        height: 100%;
        background-color: #ffffff;
        top: 0;
        right: -280px;
        padding: 70px 0 15px;
        -webkit-transition: right 0.4s ease;
        -moz-transition: right 0.4s ease;
        -o-transition: right 0.4s ease;
        transition: right 0.4s ease;
    }
    
    .row-fluid [class*="span"].dm-navigation.open {
        right: 0;
    }
    
    .row-fluid [class*="span"].dm-navigation .hs-menu-wrapper.hs-menu-flow-horizontal > ul > li.hs-menu-depth-1 {
        display: block;
        text-align: right;
        border-bottom: 1px solid #363940;
        margin: 0 15px;
    }
    
    .row-fluid [class*="span"].dm-navigation .hs-menu-wrapper.hs-menu-flow-horizontal > ul > li.hs-menu-depth-1 a {
        padding: 15px 0;
    }
    
    .burger-nav {
        position: absolute;
        z-index: 2;
        top: 22px;
        right: 15px;
        display: block;
    }
    body .header-10 .row-fluid .widget-type-linked_image {
        margin-top: 13px;
        float: left;
    }
    
    .header-10 {
        z-index: 100;
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        height: 74px;
        color: white;
    }
    
    .burger-nav .burger-line {
        display: block;
        background-color: #363940;
        width: 28px;
        height: 5px;
        margin: 4px 0;
        position: relative;
        top: 0;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0);
    }
    
    .burger-nav.open .burger-line:first-child {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 9px;
    }
    
    .burger-nav.open .burger-line:nth-child(2) {
        opacity: 0;
    }
    
    .burger-nav.open .burger-line:last-child {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: -9px;
    }
}


.hs-menu-wrapper.hs-menu-flow-horizontal > ul li a {
    display: block;
    padding: initial;
    white-space: initial;
    max-width: initial;
    overflow: initial;
    text-overflow: initial;
    text-decoration: initial;
}


.hs-menu-wrapper > ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}

.hs-menu-wrapper > ul > li {
    position: relative;
    display: block;
}

.hs-menu-wrapper > ul > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.hs-menu-wrapper > ul > li > a:hover, .hs-menu-wrapper > ul > li > a:focus {
    background: none;
    text-decoration: none;
}

@media (max-width: 568px) {
    .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1 {
        width: auto;
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1 {
        float: none;
    }
}


/* Header 1 */

.header-1-sub {
    height: 430px;
}

.header-1-sub h3 p {
    line-height: normal;
    font-size: 36px;
    margin-bottom: 0;
}

.header-1-sub .page-transitions .controls > * {
    top: 340px;
}

@media (max-width: 480px) {
    .header-1-sub {
        height: 350px;
    }
    
    .header-1-sub .page-transitions .controls > * {
        top: 293px;
    }
}

@media (max-width: 600px) {
    .header-1-sub h3 p {
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    .header-1-sub h3 p {
        font-size: 26px;
    }
}


/* Header 2 */

.header-2-sub {
    padding-top: 145px;
}

@media (max-width: 991px) {
    .header-2-sub {
        padding-top: 95px;
    }
}


/* Header 3 */

.header-3-sub {
    padding-top: 110px;
}

@media (max-width: 480px) {
    .header-3-sub {
        padding-top: 60px;
    }
}


/* Header 4 */

@media (max-width: 480px) {
    .header-4 {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}


/* Header 5 */

.header-5-sub .pt-page {
    padding-top: 140px;
}

@media (max-width: 480px) {
    .header-5-sub .pt-page {
        padding-top: 60px;
    }
}


/* Header 6 */

.header-6-sub {
    padding-top: 210px;
}

.header-6-sub .hs_cos_wrapper_type_form > h3{
    display: none;
}

.header-6-sub .signup-form form {
    text-align: left;
}

.header-6-sub .signup-form form:after {
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
}

/*.header-6-sub .signup-form form > div {*/
/*    float: left;*/
/*    width: 23.5%;*/
/*    margin: 0 0 0 2%;*/
/*}*/

.header-6-sub .signup-form form > div:first-child {
    margin: 0;
}

.header-6-sub .signup-form form .hs-form-field > label {
    display: none;
}

.header-6-sub .signup-form form input::-webkit-input-placeholder {
   color: #2c3e50 !important;
}

.header-6-sub .signup-form form input:-moz-placeholder { /* Firefox 18- */
   color: #2c3e50 !important;  
}

.header-6-sub .signup-form form input::-moz-placeholder {  /* Firefox 19+ */
   color: #2c3e50 !important;  
}

.header-6-sub .signup-form form input:-ms-input-placeholder {  
   color: #2c3e50 !important;  
}

.header-6-sub .signup-form form > div input:not([type='submit']):focus {
    border-color: #1abc9c;
}

.header-6-sub .signup-form form .hs_submit input[type="submit"] {
    width: 100%;
}

@media (max-width: 768px) {
    .header-6-sub {
        padding-top: 100px;
    }
}


/* Header 7 */

.header-7-sub section > div {
    padding-top: 215px;
}

@media (max-width: 480px) {
    .header-7-sub section > div {
        padding-top: 130px;
    }
}


/* Header 9 */

.header-9-sub {
    padding-top: 260px;
}

@media (max-width: 480px) {
    .header-9-sub {
        padding-top: 90px;
    }
}


/* Header 10 */

@media (max-width: 480px) {
    .header-10-sub {
        height: 600px;
    }
}



/* Header 11 */

.header-11-sub .hs_cos_wrapper_type_form > h3{
    display: none;
}

.header-11-sub .signup-form form > div {
    margin-bottom: 10px;
}

.header-11-sub .signup-form form > div:nth-of-type(2) {
    width: 50%;
    float: left;
    padding-left: 0;
    padding-right: 5px;
}

.header-11-sub .signup-form form > div:nth-of-type(3) {
    width: 50%;
    float: left;
    padding-left: 5px;
}

.header-11-sub .signup-form form .hs-form-field > label {
    display: none;
}

.header-11-sub .signup-form form input[type="text"], .header-11-sub .signup-form form input[type="password"], .header-11-sub .signup-form form input[type="email"] {
    border-color: white !important;
    color: #2c3e50;
    font-weight: 500;
}

.header-11-sub .signup-form form input::-webkit-input-placeholder {
   color: #2c3e50 !important;
}

.header-11-sub .signup-form form input:-moz-placeholder { /* Firefox 18- */
   color: #2c3e50 !important;  
}

.header-11-sub .signup-form form input::-moz-placeholder {  /* Firefox 19+ */
   color: #2c3e50 !important;  
}

.header-11-sub .signup-form form input:-ms-input-placeholder {  
   color: #2c3e50 !important;  
}

.header-11-sub .signup-form form .hs_submit input[type="submit"] {
    width: 100%;
    font-size: 17px;
    font-weight: 500;
}
.header-11-sub .player {
    height: auto;
    max-height: 360px;
}
.header-11-sub .player iframe {
    height: 360px;
    max-height: 50vh;
}

/* Header 14 */

.header-14-sub .hs_cos_wrapper_type_form > h3{
    display: none;
}

.header-14-sub .hs-form .field {
    padding: 0;
    margin-bottom: 0;
}

.header-14-sub .subscribe-form form {
    position: relative;
    display: table;
    border-collapse: separate;
}

.header-14-sub .subscribe-form form > div:first-of-type {
    display: table-cell;
    float: left;
    width: 100%;
    margin-bottom: 0;
    vertical-align: top;
    margin: 0! important;
}

.header-14-sub .subscribe-form form > div:first-of-type input[type="email"] {
    border-color: #ffffff;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.header-14-sub .subscribe-form form > div:last-of-type {
    display: table-cell;
    width: 1%;
    position: relative;
    font-size: 0;
    vertical-align: top;
    white-space: nowrap;
    margin: 0 !important;
}

.header-14-sub .subscribe-form form > div:last-of-type .actions {
    padding: 0;
}

.header-14-sub .subscribe-form form > div:last-of-type input[type="submit"] {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;  
}

.header-14-sub .subscribe-form form .hs-form-field > label {
    display: none;
}

@media (max-width: 480px) {
    .header-14-sub .subscribe-form form {
        display: block;
    }


    .header-14-sub .subscribe-form form > div:first-of-type {
        display: block;
        width: 100%;
        float: none;
    }
    
    .header-14-sub .subscribe-form form > div:first-of-type input[type="email"] {
        border-color: #ffffff;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
    }
    
    .header-14-sub .subscribe-form form > div:last-of-type {
        display: block;
        width: 100%;
    }
    
    .header-14-sub .subscribe-form form > div:last-of-type input[type="submit"] {
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        margin-top: 15px;
        width: 100%;
    }
}



/* Header 17 */
.header-17-sub {
    padding-top: 135px;
}

@media (max-width: 480px) {
    .header-17-sub {
        padding-top: 65px;
    }
}



/* Header 18 */

.header-18 .header-18-sub .header-18-section .t-row > div {
    padding-top: 100px;
}

.header-18 .brand img:first-child {
    max-width: 100px;
}


/* Header 19 */

.header-19-sub {
    padding-top: 270px;
}

@media (max-width: 767px) {
    .header-19-sub {
        padding-top: 185px;
    }
}

@media (max-width: 480px) {
    .header-19-sub {
        padding-top: 90px;
    }
}
@media (min-width: 481px)
{
  .header-19-sub.icons .btns > *:not(:first-child) :not([class*="fui-"]){
        display: block;
    }
}

/* Header 20 */

.header-20-sub {
    padding-top: 110px;
}

.header-20-sub .img img:first-child {
    visibility: initial;    
} 

@media (max-width: 480px) {
    .header-20-sub {
        padding-top: 60px;
    }
}


/* Header 21 */

.header-22-sub {
    padding-top: 120px;
}

@media (max-width: 480px) {
    .header-22-sub {
        padding-top: 50px;
    }
}



/* Header 23 */

.header-23-sub {
    padding-top: 290px;
}

.header-23-sub .wistia_responsive_padding {
    width: 167px;
    height: 67px;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}

#bgVideo .background-video-inner{
    position: relative;
    height: 100%;
    pointer-events: none;
}

#bgVideo .background-video-inner iframe,
#bgVideo .background-video-inner .wistia_embed{
    pointer-events: none;
    width: 100% !important;
    height: auto !important;
    min-width: 1366px;
    top: -99999px;
    position: absolute;
    bottom: -99999px;
    left: -99999px;
    right: -99999px;
    margin: auto;
}
#bgVideo .background-video-inner iframe {
    height: 100% !important;
}

.header-23-sub .hero-unit .left-text, .header-23-sub .hero-unit .right-text {
    display: inline-block;
    max-width: 370px;
    width: 100%;
    vertical-align: middle;
}

.header-23-sub .hero-unit .left-text { text-align: right; }

.header-23-sub .hero-unit .right-text { text-align: left; }

.mfp-close-btn-in.header-23-popup .mfp-close, .mfp-close-btn-in.header-23-popup .mfp-close:active {
    position: absolute;
    top: 0;
    right: -60px;
    width: 50px;
    padding-right: 0;
}


@media (max-width: 991px) {
    .header-23-sub {
        padding-top: 190px;
    }
    
    .header-23-sub .wistia_responsive_padding {
        height: 125px;
    }
    
    .header-23-sub .hero-unit .left-text, .header-23-sub .hero-unit .right-text {
        max-width: 250px;
    }
}

@media (max-width: 767px) {
    #bgVideo .background-video-inner {
        display: none;
    }
    
    .header-23-sub .hero-unit .left-text, .header-23-sub .hero-unit .right-text {
        max-width: none;
        display: block;
        text-align: center;
    }
}


/* Header 24 */

.header-24 {
    text-align: center;
    color: #000000;
    padding-top: 120px;
    padding-bottom: 170px;
}

.header-24 .pre-header {
    font-size: 31px;
    letter-spacing: 0.7px;
}

.header-24 h1 {
    font-size: 54px;
    font-weight: 700;
    color: #000000;
    letter-spacing: -0.9px;
}

.header-24 p {
    font-size: 19px;
}

.header-24 .btn {
    background-color: #e85338;
    color: #ffffff;
    border-radius: 0;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.7px;
    padding: 20px 26px;
    margin-top: 30px;
}

@media (max-width: 767px) {
    .header-24 {
        padding-top: 90px;
        padding-bottom: 100px;
    }
}


/* Header 25 */

.header-25 {
    background-repeat: no-repeat;
    background-position: top right;
    padding-top: 252px;
    padding-bottom: 258px;
}

.header-25 h1 {
    font-size: 60px;
    color: #262626;
    margin-bottom: 24px;
}

.header-25 p {
    font-size: 26px;
    color: #323232;
}

.header-25 .btn {
    max-width: 367px;
    width: 100%;
    height: 71px;
    border-radius: 2px;
    background-color: #e85338;
    text-align: center;
    color: #ffffff;
    font-size: 17px;
    padding: 25px 15px;
    margin-top: 40px;
}



/* EXTRA SIGN IN BAR */

.extra-signin .t-row footer {
    padding: 15px 0;
    text-align: right;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
}


.extra-signin .t-row .btns{
    display: inline-block;
    margin-left: 25px;
}

.extra-signin .t-row .btns .btn{
    background-color: #1f7970;
}

.extra-signin .t-row .btns .btn:first-child{
    margin-left: 0;
}

@media (max-width: 767px) {
    .extra-signin .t-row footer {
        text-align: center;
    }
    
    .extra-signin .t-row .btns {
        margin-left: 0;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .extra-signin .t-row .btns .btn{
        width: 100%;
    }
    
    .extra-signin .t-row .btns .btn:first-child{
        margin-bottom: 10px;
    }
}



/*--- CONTENTS ---*/

/* Content 1 */

@media (max-width: 480px) {
    .content-1 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


/* Content 2 */

@media (max-width: 480px) {
    .content-2 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


/* Content 3 */

@media (max-width: 480px) {
    .content-3 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


/* Content 4 */

@media (max-width: 480px) {
    .content-4 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


/* Content 5 */

@media (max-width: 480px) {
    .content-5 {
        padding-top: 80px;
    }
}


/* Content 6 */

@media (max-width: 480px) {
    .content-6 {
        padding-bottom: 80px;
    }
}


/* Content 7 */

@media (max-width: 480px) {
    .content-7 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


/* Content 8 */

@media (max-width: 480px) {
    .content-8 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


/* Content 9 */

@media (max-width: 480px) {
    .content-9 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


/* Content 10 */

@media (max-width: 480px) {
    .content-10 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


/* Content 12 */

.content-12 .btn-wide {
    color: #ffffff;
}


/* Content 13 */

.content-13 {
    color: #ffffff;
}

.content-13 .hs_email, .content-13 .hs_submit {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0;
}

.content-13 .hs_email {
    width: 66.66666666666666%;
}

.content-13 .hs_email > label {
    display: none;
}

.content-13 .hs_email .hs-error-msgs {
    color: #e74c3c;
    list-style-type: none;
}

.content-13 .hs_submit {
    width: 33.33333333333333%;
    text-align: right;
}

.content-13 .hs_submit input[type="submit"] {
    background: #16a085;
    font-size: 17px;
    padding: 12px 18px;
    margin-top: 8px;
    width: 220px;
    max-width: 100%;
}

.content-13 .hs_submit input[type="submit"]:hover, .content-13 .hs_submit input[type="submit"]:focus, .content-13 .hs_submit input[type="submit"]:active {
    background: #24deb4;
}


@media (max-width: 767px) {
    .content-13 .hs_email, .content-13 .hs_submit {
        width: 100%;
        float: none;
    }
    
    .content-13 .hs_submit {
        text-align: center;
        margin: 0 !important;
    }
}


/* Content 14 */

.content-14 .features [class*="box"] img {
    position: static;
}

@media (max-width: 480px) {
    .content-14 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


/* Content 15 */

@media (max-width: 480px) {
    .content-15 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


/* Content 16 */

@media (max-width: 480px) {
    .content-16 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


/* Content 17 */

@media (max-width: 480px) {
    .content-17 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


/* Content 18 */

@media (max-width: 480px) {
    .content-18 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


/* Content 19 */

.content-19 .col-sm-7 .quote .quote-author-photo, .content-19 .col-sm-3 .quote .quote-author-photo {
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}


/* Content 20 */

.content-20 .hs-form .field {
    margin-bottom: 23px;
    max-width: none;
}

.content-20 .signup-form form input[type="text"], .content-20 .signup-form form input[type="password"], .content-20 .signup-form form input[type="email"] {
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    color: #34495e;
    border-color: #ecf0f1;
}

.content-20 .hs_submit {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
}

.content-20 .hs_submit input[type="submit"] {
    background-color: #5dade2;
    border-color: #5dade2;
    height: 54px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 17px;
    font-weight: normal;
    color: #ffffff;
    width: 100%;
}

.content-20 .hs-form .actions {
    padding: 0;
}

.content-20 .features h6 {
    margin-top: 20px;
}

@media (max-width: 480px) {
    .content-20 .signup-form form {
        padding: 30px 15px 80px;
    }
}



/* Content 21 */

.content-21 .features.features-tabs .features-bodies {
    background-image: url('img/screen2x.png?t=1517843166370');
}
.content-21 .features-image {
    width: 100%;
    text-align: center;
    margin: 0 auto 25px;
}
.content-21 .features-image img {
    max-width: 100%;
}

@media (max-width: 480px) {
    .content-21 {
        padding-top: 80px;
    }
}
@media (min-width: 601px) {
    .content-21 .features-bodies {
        position: relative;
    }
    .content-21 .features-image {
        position: absolute;
        left: 5%;
        top: 5%;
        bottom: 5%;
        width: 40%;
        height: auto;
        margin: 0;
    }
    .content-21 .features-image img {
        max-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
    

/* Content 22 */

.content-22 .col-sm-8 {
    padding-top: 280px;
}

.content-22 .img img {
}
.content-22 .img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.content-22.perspective-effect .img-wrapper img {
    width: 400px;
    height: 300px;
    box-shadow: -10px 10px 0 1px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateY(-150%) rotateX(67deg) rotateZ(-47deg);
    transform: translateY(-150%) rotateX(67deg) rotateZ(-47deg);
}
.content-22.perspective-effect.perspective-effect .img-wrapper img {
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
}
.content-22.perspective-effect .img-wrapper img:first-child {
    visibility: visible;
}
.content-22.perspective-effect.ani-processed .img-wrapper img {
    -webkit-transform: translateY(0%) rotateX(67deg) rotateZ(-47deg);
    transform: translateY(0%) rotateX(67deg) rotateZ(-47deg);
}
.content-22.perspective-effect.ani-processed .img-wrapper:nth-child(1) {
    top: 50px;
    left: 680px;
}
.content-22.perspective-effect.ani-processed .img-wrapper:nth-child(2) {
    top: 180px;
    left: 380px;
}
.content-22.perspective-effect.ani-processed .img-wrapper:nth-child(3) {
    top: -80px;
    left: 50px;
}
.content-22.perspective-effect.ani-processed .img-wrapper:nth-child(4) {
    top: -40px;
    left: 430px;
}
.content-22.perspective-effect.ani-processed .img-wrapper:nth-child(5) {
    top: -60px;
    left: 430px;
}
.content-22.perspective-effect.ani-processed .img-wrapper:nth-child(6) {
    top: 90px;
    left: 130px;
}
.content-22.perspective-effect.ani-processed .img-wrapper:nth-child(7) {
    top: 70px;
    left: 130px;
}
.content-22.perspective-effect.ani-processed .img-wrapper:nth-child(8) {
    top: 50px;
    left: 130px;
}
.content-22.perspective-effect.ani-processed .img-wrapper:nth-child(2) img {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.content-22.perspective-effect.ani-processed .img-wrapper:nth-child(3) img {
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
}
.content-22.perspective-effect.ani-processed .img-wrapper:nth-child(4) img {
    -webkit-transition-delay: 1.2s;
    transition-delay: 1.2s;
}
.content-22.perspective-effect.ani-processed .img-wrapper:nth-child(5) img {
    -webkit-transition-delay: 1.6s;
    transition-delay: 1.6s;
}
.content-22.perspective-effect.ani-processed .img-wrapper:nth-child(6) img {
    -webkit-transition-delay: 2.0s;
    transition-delay: 2.0s;
}
.content-22.perspective-effect.ani-processed .img-wrapper:nth-child(7) img {
    -webkit-transition-delay: 2.4s;
    transition-delay: 2.4s;
}
.content-22.perspective-effect.ani-processed .img-wrapper:nth-child(8) img {
    -webkit-transition-delay: 2.8;
    transition-delay: 2.8s;
}

/* Content 23 */

@media (max-width: 480px) {
    .content-23 .holder {
        height: 560px;
    }
}


/* Content 25 */

.content-25 .image {
    text-align: center;
}


/* Content 26 */

@media (max-width: 480px) {
    .content-26 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


/* Content 27 */

.content-27 .image {
    text-align: center;
}

@media (max-width: 480px) {
    .content-27 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    .content-27 .btns [class*="fui-"] {
        margin-top: 0;
    }
}


/* Content 29 */

@media (max-width: 480px) {
    .content-29 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


/* Content 31 */

.content-31 .container .img img, .content-31 .container .img img + img {
    max-width: 380px;
    width: 100%;
}

@media (max-width: 480px) {
    .content-31 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


/* Content 33 */

@media (max-width: 480px) {
    .content-33 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}



/* Content 34 */

@media (max-width: 480px) {
    .content-34 .pt-page .container {
        margin-left: 0;
    }
}


/* Content 35 */

.content-35 .contact {
    background-size: 66px;
}

.content-35 .contact p {
    font-size: 16px;
    line-height: 26px;
}


/* Content 36 */

@media (max-width: 480px) {
    .content-36 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


/* Content 37 */

.content-37 .hs-form-field > label {
    display: none;
}

.content-37 .signup-form form input, .content-37 .signup-form form button {
    float: none;
    width: 100%;
    margin: 0;
}

.content-37 .signup-form form input[type="submit"] {
    color: #ffffff;
    background-color: #34495e;
    border: 0;
}

.content-37 .signup-form form input[type="submit"]:hover, .content-37 .signup-form form input[type="submit"]:focus, .content-37 .signup-form form input[type="submit"]:active {
    background-color: #415b76;
}


/* Content 38 */

@media (max-width: 480px) { 
    .content-38 {
        padding-bottom: 80px;
    }
}


/* Content 39 */

.content-39 {
    padding-top: 80px;
    /*padding-bottom: 100px;*/
    color: #474b51;
}

.content-39 .right-content {
    padding-top: 100px;
    padding-bottom: 100px;
}

.content-39 .quote-text {
    font-size: 24px;
    font-style: italic;
    line-height: 1.6;
    margin-bottom: 33px;
}

.content-39 .author {
    font-size: 16px;
    margin-bottom: 8px;
    color: #000000;
}

.content-39 .position {
    margin-bottom: 21px;
}

.content-39 .author-image {
    position: absolute;
    left: 40px;
    bottom: 0;
}

@media (max-width: 991px) {
    .content-39 .right-content {
        padding-top: 0;
    }
    
    .content-39 .author-image {
        position: static;
        margin: 0 auto 20px;
    }
}

@media (max-width: 480px) { 
    .content-39 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    .content-39 .right-content {
        padding-bottom: 0;
    }
}


/* Content 40 */

.content-40 {
    padding-top: 80px;
    padding-bottom: 96px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content-40 .pre-header {
    font-size: 18px;
    color: #e85338;
    margin-bottom: 11px;
}

.content-40 .header {
    font-size: 38px;
    color: #393939;
    line-height: 1.24;
    margin-bottom: 16px;
}

.content-40 .content-text {
    color: #393939;
}

.content-40 .content-text p {
    line-height: 1.5;
    margin-bottom: 17px;
}

.content-40 .content-text ul {
    padding-top: 6px;
    padding-left: 17px;
    margin-bottom: 25px;
}

.content-40 .content-text li {
    margin-bottom: 16px;
}

.content-40 .signup-form .form-title {
    font-size: 18px;
    margin-bottom: 20px;
}

.content-40 .hs-form-field > label {
    display: none;
}

.content-40 .hs-form  .field {
    margin-bottom: 20px;
}

.content-40 input:not([type=submit]):not([type=file]), .content-40 .uneditable-input {
    border: solid 1px #dbdbdb;
    height: 44px;
    border-radius: 0;
}

.content-40 input[type="submit"] {
    font-weight: 900;
    padding: 14px 15px;
    width: 100%;
    border-radius: 0;
    background-color: #e85338;
}

.content-40 input[type="submit"]:hover {
    background-color: #ea735e;
}

@media (max-width: 991px) {
    .content-40 .left-content {
        margin-bottom: 60px;
    }
}

@media (max-width: 480px) { 
    .content-40 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


/* Content 41 */

.content-41 {
    padding-top: 73px;
    padding-bottom: 116px;
}

.content-41 .company-logo {
    text-align: center;
    margin-bottom: 100px;
}

.content-41 .header {
    font-size: 53px;
    font-weight: 800;
    line-height: 1.13;
    color: #393939;
    margin-bottom: 25px;
}

.content-41 .content-text {
    color: #323232;
}

.content-41 .content-text p {
    line-height: 1.62;
    margin-bottom: 15px;
}

.content-41 .content-text ul {
    padding-top: 24px;
    margin-bottom: 25px;
    list-style-type: none;
}

.content-41 .content-text li {
    margin-bottom: 33px;
    position: relative;
}

.content-41 .content-text li:after {
    content: '';
    position: absolute;
    top: 3px;
    left: -40px;
    width: 22px;
    height: 15px;
    background-image: url('img/check.png?t=1517843166370');
}

.content-41 .testimonial {
    position: relative;
    padding-left: 125px;
}

.content-41 .testimonial-text {
    font-size: 17px;
    font-style: italic;
    line-height: 1.62;
    margin-bottom: 15px;
}

.content-41 .testimonial-author {
    font-size: 12px;
    font-weight: 700;
    color: #323232;
    margin-bottom: 3px;
}

.content-41 .testimonial-author-image {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 104px;
    height: 104px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content-41 .signup-form {
    max-width: 494px;
    margin-left:auto;
}

.content-41 .signup-form form {
    background-color: #ffffff;
    padding: 38px 42px 85px;
}

.content-41 .signup-form .form-title {
    font-size: 22px;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    padding: 27px 20px;
    margin-bottom: 0;
    background-color: #e85338;
}

.content-41 .hs-form-field > label {
    display: none;
}

.content-41 .hs-form  .field {
    margin-bottom: 20px;
}

.content-41 input:not([type=submit]):not([type=file]), .content-41 .uneditable-input {
    border: solid 1px #d7d7d7;
    height: 47px;
    border-radius: 0;
}

.content-41 input[type="submit"] {
    font-weight: 900;
    padding: 15px;
    width: 100%;
    border-radius: 0;
    background-color: #e85338;
}

.content-41 input[type="submit"]:hover {
    background-color: #ea735e;
}

.content-41 .hs_submit {
    margin-top: 60px;
}

@media (max-width: 991px) {
    .content-41 .left-content {
        margin-bottom: 60px;
    }
    
    .content-41 .signup-form {
        max-width: none;
        margin-left: auto;
    }
}


/* Content 42 */

.content-42 {
    padding-top: 73px;
    padding-bottom: 170px;
}

.content-42 .company-logo {
    text-align: center;
    margin-bottom: 157px;
}

.content-42 .content {
    text-align: center;
    color: #323232;
}

.content-42 .header {
    font-size: 78px;
    font-weight: 800;
    line-height: 0.77;
    color: #e85338;
    margin-bottom: 45px;
}

.content-42 .subheader {
    font-size: 28px;
    color: #323232;
    margin-bottom: 22px;
}

.content-42 .content-text {
    color: #323232;
    font-size: 20px;
    line-height: 1.62;
}

.content-42 .content-text p {
    font-size: 20px;
    line-height: 1.62;
    margin-bottom: 15px;
}

.content-42 .btn {
    background-color: #e85338;
    color: #ffffff;
    border-radius: 0;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.7px;
    padding: 15px 26px;
    margin-top: 13px;
}

@media (max-width: 480px) {
    .content-42 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


/* Content 43 */

.content-43 {
    padding-top: 155px;
    padding-bottom: 141px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: top left;
}

.content-43 .content-text {
    font-size: 30px;
    margin-bottom: 36px;
    color: #323232;
}

.content-43 .btn {
    font-size: 17px;
    width: 243px;
    height: 52px;
    border-radius: 2px;
    background-color: #e85338;
    padding: 17px 15px;
}




/* Content Rich Text */

.content-rt {
    padding-top: 80px;
    padding-bottom: 80px;
}

.content-rt .col-rt {
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (max-width: 480px) {
    .content-rt {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}


/* Content Rich Text 5 */

@media (max-width: 991px) {
    .content-rt-5 .col-rt:nth-child(3n+1) {
        clear: left;
    }
}


/* Text + Form */

.content-text-form {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}

@media (max-width: 480px) {
    .content-text-form {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}



/*--- FOOTERS ---*/

/* Footer 1 */
.footer-1 .hs-menu-wrapper > ul > li > a{
    padding: 0;
}


/* Footer 6 */

.footer-6 .hs-menu-wrapper.hs-menu-flow-vertical > ul {
    padding-left: 0;
    margin-bottom: 0;
}

.footer-6 .hs-menu-wrapper.hs-menu-flow-vertical > ul > li {
    margin-bottom: 8px;
}

.footer-6 .hs-menu-wrapper.hs-menu-flow-vertical > ul > li > a {
    padding: 0;
    white-space: normal;
    overflow: visible;
}

.footer-6 form .hs-form-field > label {
    display: none;
}

.footer-6 form .hs-form-field, .footer-6 form .hs_submit {
    margin-bottom: 15px;
}

.footer-6 form input[type="submit"] {
    background: #bdc3c7;
}

.footer-6 form input[type="submit"]:hover {
    background: #cacfd2;
}

@media (max-width: 767px) {
    .footer-6 form input[type="submit"] {
        width: 100%;
    }
}


/* Footer 7 */
.footer-7 nav {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 18px;
}

.footer-7 nav .hs-menu-wrapper.hs-menu-flow-horizontal > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-7 nav .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 {
    display: inline-block;
    min-width: 100px;
    line-height: 25px;
    font-size: 14px;
    font-weight: normal;
    color: inherit;
    font-weight: 500;
    text-transform: uppercase;
}

.footer-7 a {
    color: #bdc3c7;
    font-weight: 500;
}

.footer-7 a:hover, .footer-7 a:focus, .footer-7 a.active {
    color: #a1a6a9;
}

@media (max-width: 568px) {
    .footer-7 nav {
        float: none !important;
    }
    
    .footer-7 nav .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 {
        margin: 18px 0 0;
        text-align: left;
        display: block;
    }
    
    .footer-7 nav .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1:first-of-type {
        margin-top: 0;
    }
}


/* Footer 8 */
.footer-8 nav {
    margin-bottom: 40px;
}

.footer-8 nav .hs-menu-wrapper.hs-menu-flow-horizontal > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    color: #7f8c8d;
}

.footer-8 nav .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 {
    display: inline-block;
    margin-left: 30px;
}

.footer-8 nav .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1:first-child {
    margin-left: 0;
}

.footer-8 a {
    color: #7f8c8d;
    font-weight: normal;
}

.footer-8 a:hover, .footer-8 a:focus, .footer-8 a.active {
    color: ;#1abc9c;
}

@media (max-width: 568px) {
    .footer-8 nav .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 {
        display: block;
        width: 100%;
        margin-left: 0;
    }
}


/* Footer 10 */

.footer-10 .hs-menu-wrapper.hs-menu-flow-vertical > ul {
    padding-left: 0;
    margin-bottom: 0;
}

.footer-10 .hs-menu-wrapper.hs-menu-flow-vertical > ul > li {
    margin-bottom: 8px;
}

.footer-10 .hs-menu-wrapper.hs-menu-flow-vertical > ul > li > a {
    padding: 0;
    white-space: normal;
    overflow: visible;
}

.footer-10 form .hs-form-field > label {
    display: none;
}

.footer-10 form .hs-form-field, .footer-10 form .hs_submit {
    float: left;
    margin-bottom: 0;
}

.footer-10 form .hs-form-field {
    width: 66.66666666666666%;
}

.footer-10 form .hs-form-field input[type="email"] {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    line-height: 59.99999999999999px;
    font-size: 50px;
    font-weight: normal;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    letter-spacing: -1px;
}

.footer-10 form .hs_submit {
    width: 33.33333333333333%;
    text-align: right;
}

.footer-10 form .hs_submit input[type="submit"] {
    margin-top: 8px;
    font-weight: 500;
    width: 220px;
    max-width: 100%;
    font-size: 17px;
    padding: 12px 18px;
    background-color: #e74c3c;
}

.footer-10 form .hs_submit input[type="submit"]:hover {
    background-color: #ec7063;
}

.footer-10 form input::-webkit-input-placeholder {
   color: #ffffff !important;
}

.footer-10 form input:-moz-placeholder { /* Firefox 18- */
   color: #ffffff !important;  
}

.footer-10 form input::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff !important;  
}

.footer-10 form input:-ms-input-placeholder {  
   color: #ffffff !important;  
}

@media (max-width: 767px) {
    .footer-10 form .hs-form-field, .footer-10 form .hs_submit {
        float: none;
        width: 100%;
        margin: 0 !important;
    }
    
    .footer-10 form .hs_submit {
        text-align: center;
    }
}

@media (max-width: 568px) {
    .footer-10 form .hs-form-field input[type="email"] {
        font-size: 25px;
        text-align: center;
    }
}


/* Footer 13 */

.footer-13 nav .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 > a {
    text-transform: uppercase;
}

@media (max-width: 568px) {
    .footer-13 nav {
        float: none !important;
        margin-top: 0 !important;
    }
    
    .footer-13 nav .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 {
        margin: 18px 0 0;
        text-align: left;
    }
    
    .footer-13 nav:first-of-type .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1:first-of-type {
        margin-top: 0;
    }
}



/* Footer 14 */

.footer-14 nav {

}

.footer-14 nav .hs-menu-wrapper.hs-menu-flow-horizontal > ul {
    margin-bottom: 0 !important;
}

.footer-14 nav .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1{
    float: none;
    display: inline-block;
    margin-left: 50px;
    line-height: 25px;
}

.footer-14 nav .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1:first-child {
    margin-left: 0;
}

@media (max-width: 767px) {
    .footer-14 nav .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 {
        margin-left: 20px;
    }
}

@media (max-width: 568px) {
    .footer-14 nav .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 {
        width: 100%;
        display: block;
        margin-left: 0;
    }
    
    .footer-14 nav .hs-menu-wrapper.hs-menu-flow-horizontal > ul {
        margin-bottom: 15px;
    }
}


/* Footer 16 */

.footer-16 {
    text-align: center;
    padding-top: 62px;
    padding-bottom: 68px;
}

.footer-16 .social-icons {
    padding-left: 0;
    margin-bottom: 28px;
}

.footer-16 .social-icons li {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
}

.footer-16 .social-icons li a {
    display: block;
    width: 28px;
    height: 27px;
    text-align: center;
    color: #ffffff;
    background-color: #e85338;
    border-radius: 50%;
    padding-top: 4px;
}

.footer-16 .social-icons li a.email {
    font-size: 26px;
    padding-top: 0;
    border-radius: 0;
    background-color: transparent;
    color: #e85338;
}

.footer-16 .copyright {
    color: #625f5f;
}

.footer-16 .copyright .logo {
    margin-bottom: 17px;
}



/*--- PLANS ---*/

/* Plan 1 */

.price-1 .plans > div:nth-of-type(3n+1) {
    clear: left;
}

.price-1 .plan {
    margin: 15px 0;
}


/* Plan 2 */

.price-2 .plans {
    margin-bottom: 50px;
}

.price-2 .plans:last-of-type {
    margin-bottom: 0;
}

.price-2 .plans .title .price.medium{
    font-size: 80px;
}
.price-2 .plans .title .price.small{
    font-size: 60px;
}

.price-2 .plans .title .ribbon.up{
    top: 17px;
}
/* Plan 3 */

.price-3 .plans:last-of-type {
    margin-bottom: 0;
}

.price-3 .plans {
    margin-bottom: 100px;
}

.price-3 .plan:nth-of-type(2) {
    border-left: 2px solid #e5e5e5;
    border-right: 2px solid #e5e5e5;
}

.price-3 .plan img {
    max-width: 100px;
}

@media (max-width: 767px) {
    .price-3 .plan:nth-of-type(2) {
        border-left: none;
        border-right: none;
        margin: 100px 0;
    }
}


/* Plan 5 */

.price-5 .plans {
    margin-bottom: 50px;
}

.price-5 .plans:last-of-type {
    margin-bottom: 0;
}



/*--- CONTACTS ---*/

/* Contact 1 */

.contacts-1 .hs_cos_wrapper_type_form > h3{
    display: none;
}

.contacts-1 form label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: none;
    color: #2c3e50;
}

.contacts-1 form input[type="submit"] {
    color: #ffffff;
    min-width: 150px;
    width: auto;
}

.contacts-1 form textarea {
    height: 7em;
}

.contacts-1 form input, .contacts-1 form textarea {
    margin-bottom: 0;
}

@media (max-width: 480px) {
    .contacts-1 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}


/* Contact 2 */

.contacts-2 .hs_cos_wrapper_type_form > h3{
    display: none;
}

.contacts-2 form label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: none;
    color: #2c3e50;
}

.contacts-2 form input[type="submit"] {
    color: #ffffff;
    min-width: 150px;
    width: auto;
}

.contacts-2 form textarea {
    height: 7em;
}

.contacts-2 form input, .contacts-2 form textarea {
    margin-bottom: 0;
}


/* Contact 3 */

.contacts-3 .hs_cos_wrapper_type_form > h3{
    display: none;
}

.contacts-3 form label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: none;
    color: #2c3e50;
    margin-bottom: 20px;
}

.contacts-3 form input[type="submit"] {
    color: #ffffff;
    min-width: 150px;
    width: auto;
}

.contacts-3 form textarea {
    height: 7em;
}

.contacts-3 form input, .contacts-3 form textarea {
    margin-bottom: 0;
}


/* Contact 4 */

@media (max-width: 480px) { 
    .contacts-4 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}



/*--- PROJECTS ---*/

/* Project 1 */
.projects-1 .projects .project{
    vertical-align: top;
}

.projects-1 .head-box:before {
    background-image: url('img/ipad2x.png?t=1517843166370');
}


/* Project 3 */

@media (max-width: 480px) { 
    .projects-3 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}



/*--- CREW ---*/

/* Crew 1 */
.crew-1 .members {
    display: block;
    font-size: 0;
}

.crew-1 .members .member-wrapper {
    display: inline-block;
    width: 33.33333333%;
    vertical-align: top;
}

@media (max-width: 767px) {
    .crew-1 .members .member-wrapper {
        width: 100%;
    }
}


/* Crew 2 */
.crew-2 .members {
    display: block;
    font-size: 0;
}

.crew-2 .members .member-wrapper {
    display: inline-block;
    width: 33.33333333%;
}

@media (max-width: 767px) {
    .crew-2 .members .member-wrapper {
        width: 100%;
    }
}


/* Crew 3 */
.crew-3 {
    padding-bottom: 54px;    
}

.crew-3 .title a {
    display: inline-block;
}

.crew-3 .overlay {
    cursor: pointer;
}

.crew-3 .overlay a {
    color: white;
}

.crew-3 .members {
    display: block;
    font-size: 0;
    margin: 0 -80px;
    width: auto;
}

.crew-3 .members .member-wrapper {
    display: inline-block;
    width: 33.33333333%;
    text-align: center;
    margin-bottom: 56px;
}

.crew-3 .members .member-wrapper:first-child + .member-wrapper + .member-wrapper {
    text-align: center;
}

@media (max-width: 1199px) {
    .crew-3 .members {
        margin: 0 -30px;
    }
}

@media (max-width: 991px) {
    .crew-3 .members {
        margin: 0;
    }
}

@media (max-width: 767px) {
    .crew-3 {
        padding-bottom: 110px;
    }
    
    .crew-3 .title .social-btns {
        margin-top: 30px;
    }
    
    .crew-3 .members .member-wrapper {
        width: 100%;
        margin-bottom: 0;
    }
}


/* Crew 4 */
.crew-4 .members {
    display: block;
    font-size: 0;
}

.crew-4 .members .member-wrapper {
    display: inline-block;
    width: 33.33333333%;
}

@media (max-width: 767px) {
    .crew-4 .members .member-wrapper {
        width: 100%;
    }
}


/*--- BLOG LISTING ---*/

.blog-listing {
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
}

.blog-listing .post-item {
    margin-bottom: 60px;
}

.blog-listing .post-title {
    font-size: 32px;
    color: #7f8c8d;
    display: inline-block;
    margin-bottom: 31px;
}

.blog-listing .post-info {
    text-transform: uppercase;
    padding-left: 0;
    margin-bottom: 23px;
    list-style-type: none;
}

.blog-listing .post-info li {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog-listing .post-author-link {
    position: relative;
    padding-left: 57px;
    margin-right: 46px;
    max-width: 160px;
}

.blog-listing .post-author-avatar {
    position: absolute;
    top: -10px;
    left: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-image: url('img/default-avatar.png?t=1517843166370');
    background-color: #f1f1f1;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.blog-listing .post-date {
    margin-right: 36px;
    max-width: 85px;
}

.blog-listing .post-summary {
    margin-bottom: 40px;
    padding-top: 10px;
}

.blog-listing .post-summary iframe {
    width: 100% !important;
}

.blog-listing .post-featured-image {
    padding-top: 4px;
}

.blog-listing .post-read-more a {
    font-size: 12px;
}

.blog-listing .post-divider {
    margin-bottom: 51px;
}

.blog-pagination {
    position: relative;
    text-align: center;
    padding-top: 17px;
}

.blog-pagination .no-link {
    display: none;
}

.blog-pagination .previous-posts-link, .blog-pagination .next-posts-link {
    position: absolute;
    top: 17px;
}

.blog-pagination .previous-posts-link {
    left: 0;
}

.blog-pagination .next-posts-link {
    right: 0;
}


@media (max-width: 767px) {
    .blog-listing .post-featured-image {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .blog-listing .post-info li {
        width: 100%;
    }
    
    .blog-listing .post-author-link, .blog-listing .post-date {
        max-width: none;
    }
}



/*--- BLOG ---*/

/* Blog 2 */

.blog-2 .background .col-sm-4 > div {
    text-align: right;
}



/* IL Standard Footer */

.footer-container {
    padding-right: 0;
    padding-left: 0;
}

.il-standard-footer {
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 3;
    letter-spacing: 0.2px;
    text-align: center;
    color: #a2a2a2;
    font-family: 'Open Sans', sans-serif;
    background-color: #292f3e;
    padding: 31px 0 30px;
}

a.cta_button {
    vertical-align: initial;
}

/*==================================================================================
    Start Something Light Box Styling
==================================================================================*/

/*======Guana Module======*/

.start-something.guana-modal-container.position-center .guana-modal{
    width:100%;
    max-width:100%;
    border-radius:0px;
    margin:0px;
    height: 100vh;
    background-color: white;
   display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}



.start-something .mfp-container{
    padding:0px;
}

.start-something .mfp-close {
    width: 68px;
    height: 68px;
    line-height: 44px;
    position: absolute;
    right: 30px;
    top: 40px;
    text-decoration: none;
    text-align: center;
    /* opacity: .65; */
    padding: 0 0 18px 10px;
    color: #333;
    font-style: normal;
    font-size: 0px;
    font-family: Arial,Baskerville,monospace;
    background: url(cdn2.hubspot.net/hubfs/346178/Assets-Dec16/close-tablet.svg) no-repeat;
    background-position: top center;
    background-size: auto;
}

.mfp-close-btn-in .mfp-close {
    font-size: 0;
   background: url(cdn2.hubspot.net/hubfs/346178/Assets-Dec16/close-tablet.svg) no-repeat;
    background-position: top center;
    background-size: auto;
    right: 30px;
    top: 40px;
    opacity: 1;
}

.mfp-close-btn-in .mfp-close:active {
    right: 30px;
    top: 40px;
}



/*===================================================*/

/*=======Inside Pop Up Content Styling=======*/

@media (min-width: 768px) {
    .equal-height-container>.row-fluid-wrapper>.row-fluid {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: stretch;
        -moz-box-align: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
    }
    
    body .row-fluid .vertical-center {
        display: flex;
        display: -webkit-flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center;
        justify-content: center;
    }
}

.start-module .desktop-box .col-width h4 a {
    color: #2a2f3e;
}

.start-module .tab-box{
    display:none;
}

.start-something .start-module .wrapper{
    max-width:1260px;
}

.start-something .start-module .head-text{
    text-align:center;
    width:100%;
    max-width:800px;
    margin:0 auto;
    display:block;
    float:none;
}

.start-module .head-text h2{
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 10px;
    letter-spacing: 1.4px;
    font-weight: 300;
    color:#181818;
}

.start-module .head-text p{
    color:#48526f;
    font-size:18px;
    line-height:29px;
    letter-spacing:0.6px;
}

.start-module .five-col{
    padding:90px 0px 0px;
}


.start-module .col-width{
    text-align:center;
    width:25%;
    max-width:25%;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.start-module .img-module{
    cursor: pointer;
}

.start-module .col-width:hover .img-module .onhover-img{
    display:block;
}

.start-module .col-width:hover .img-module .simple-img{
    display:none;
}

.start-module .col-width h4{
    font-size:16px;
    color:#181818;
    line-height:33px;
    font-weight:400;
    margin:0px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    cursor: pointer;
}

.start-module .col-width:hover h4 a{
    color:#e85338;
}

.start-module .col-width p{
    font-size:16px;
    color:#48526f;
    line-height:25px;
    letter-spacing:1.1px;
}

.start-module .col-width .img-module{
    height:90px;
    position:relative;
}

.start-module .col-width .img-module .onhover-img{
    display:none;
}

.start-module .desktop-box .col-width h4 a{
    text-decoration:none;
}

@media(max-width:1024px){
    
.start-something.guana-modal-container.position-center .guana-modal{
    width:95%;
    margin:20px;
    height:100%;
}    

.start-module .equal-height-container.five-col.desktop-box{
    width: 370px;
    display: block;
    margin: 0 auto;
    float: none;
}

.start-module .tab-box{
    display:block;
}

.start-something .start-module .head-text{
    max-width:510px;
    padding-bottom:40px;
}

.start-module .head-text h2{
    font-size:30px;
    line-height:66px;
    letter-spacing:1.4px;
    color:#181818;
    margin:0px;
}

.start-module .head-text p{
    font-size:16px;
    letter-spacing:0.5px;
}

.start-module .desktop-box{
    padding-bottom:40px;
}
  
.start-module .desktop-box .col-width h4{
    font-size:16px;
    line-height:33px;
    letter-spacing:0.8px;
    color:#181818;
    margin:0px;
    font-weight:400;
    text-align: left;
}

.start-module .desktop-box .col-width p{
    font-size:14px;
    line-height:18px;
    letter-spacing:1px;
    color:#48526f;
    font-style:italic;
    max-width:260px;
    text-align: left;
}



.five-col.equal-height-container>.row-fluid-wrapper>.row-fluid{
    display:block;
}
    
.start-module .col-width{
    width: 100%;
    max-width: 100%;
    margin:0;
    padding-bottom: 25px;
}
    
.start-module .col-width>.row-fluid-wrapper:first-child{
    width:25%;
    float:left;
    display:block;
    overflow:hidden;
    margin-right:30px;
}     

.start-module .col-width>.row-fluid-wrapper:last-child{
    width:65%;
    display:block;
    overflow:hidden;
}     

.start-module .col-width .img-module img{
    max-width: 50px;
    margin-top: 5px;
}

.start-module .five-col {
    padding: 20px 0 0;
}

.start-module .col-width .img-module .row-fluid-wrapper:last-child{
    //width:50px;
}



  
}



@media(max-width:767px){
    
.start-something.guana-modal-container.position-center .guana-modal{
    width:100%;
    margin:0px;
    display:block;
}  

.start-something .start-module .head-text{
    padding-top:40px;
    padding-bottom:0px;
}

.start-module .head-text h2{
    font-size:22px;
    line-height:30px;
    letter-spacing:1px;
    text-align:left;
    margin-bottom:10px;
}

.start-module .head-text p{
    text-align:left;
    font-size:14px;
    line-height:22px;
    letter-spacing:0.5px;
}

.start-module .col-width .img-module img {
    max-width: 35px;
    margin-top: 0px;
    text-align: left;
}

.start-module .col-width>.row-fluid-wrapper:first-child {
    width: 10%;
    float: left;
    display: block;
    overflow: hidden;
    margin-right: 20px;
}

.start-module .col-width>.row-fluid-wrapper:last-child {
    width: 54%;
    display: block;
    overflow: hidden;
}

.start-module .desktop-box .col-width h4{
    font-size:12px;
    line-height:20px;
}
    
.start-module .desktop-box .col-width p{
    font-size:12px;
}

.mfp-close-btn-in .mfp-close{
    background:url('cdn2.hubspot.net/hubfs/346178/Assets-Dec16/close-tablet_20_281_29.svg')no-repeat!important;   
    width: 40px!important;
    height: 40px!important;
    right: 0px!important;
    top: 20px!important;
   }
   
   
    }



/*==================================================================================
    Start Something Light Box Styling
==================================================================================*/

/*======Guana Module======*/

.request-info-panel.guana-modal-container.position-center .guana-modal{
    width:100%;
    max-width:100%;
    border-radius:0px;
    margin:0px;
    height: 100vh;
    background-color: white;
   display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}



.request-info-panel .mfp-container{
    padding:0px;
}

.request-info-panel .mfp-close {
    width: 68px;
    height: 68px;
    line-height: 44px;
    position: absolute;
    right: 30px;
    top: 40px;
    text-decoration: none;
    text-align: center;
    /* opacity: .65; */
    padding: 0 0 18px 10px;
    color: #333;
    font-style: normal;
    font-size: 0px;
    font-family: Arial,Baskerville,monospace;
    background: url(cdn2.hubspot.net/hubfs/346178/Assets-Dec16/close-tablet.svg) no-repeat;
    background-position: top center;
    background-size: auto;
}

.mfp-close-btn-in .mfp-close {
    font-size: 0;
   background: url(cdn2.hubspot.net/hubfs/346178/Assets-Dec16/close-tablet.svg) no-repeat;
    background-position: top center;
    background-size: auto;
    right: 30px;
    top: 40px;
    opacity: 1;
}

.mfp-close-btn-in .mfp-close:active {
    right: 30px;
    top: 40px;
}

/*===================================================================================*/
    
/*========Inside the Pop-Up Styling========*/

.request-info .wrapper {
    max-width: 630px!important;
}

.request-info .main-head h2{
    font-size: 40px;
    line-height: 81px;
    margin: 0 0 10px;
    letter-spacing: .7px;
    font-weight: 700;
}    

.request-info .main-head p{
    font-size:18px;
    color:color: #2a2f3e;;
    font-weight:300;
    letter-spacing: 1px;
    margin: 0 0 15px;
    line-height:31px;
}

.request-info p span {
    font-weight: 400;
}
   
body .request-info form input, body .request-info form textarea, body .request-info form select {
    border: 1px solid #c2c7d6;
    border-radius: 0;
    padding: 16px 15px;
    font-family: gibson;
    font-weight: 300;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}   

.request-info form .hs-error-msgs label {
    font-size: 12px;
    line-height: 14px;
    color: red;
    position: absolute;
    top: -15px;
}
    
body .request-info .hs-button.primary {
    width: 100%;
    background: #e85338;
    border-radius: 3px;
    margin: 0;
}    
    


@media(max-width:767px){
    
    .request-info-panel.guana-modal-container.position-center .guana-modal{
        display:block;
        padding:0px 25px;
    }    
    
    .request-info .main-head {
        padding-top:50px;
    }
    
    .request-info .main-head h2{
        font-size:22px;
        line-height:30px;
        letter-spacing:1px;
        text-align:left;
        margin-bottom:10px;
    }
    
    .request-info .main-head p{
        text-align:left;
        font-size:14px;
        line-height:22px;
        letter-spacing:0.5px;
    }
    
}








/* System Templates Styles */

.row-fluid .span12.system-container {
    max-width: 780px;
    margin: 0 auto;
    float: none;
    padding-left: 15px;
    padding-right: 15px;
}

button, .hs-button {
    font-size: 17px;
    padding: 10px 18px;
    /* -webkit-border-radius: 6px; */
    /*-moz-border-radius: 6px;*/
    /* border-radius: 6px; */
    line-height: 22px;
    -webkit-transition: color 0.25s, background 0.25s;
    -moz-transition: color 0.25s, background 0.25s;
    -o-transition: color 0.25s, background 0.25s;
    transition: color 0.25s, background 0.25s;
    color: #ffffff;
    background-color: #e74c3c;
    cursor: pointer;
    border: 0;
}

button, .hs-button:hover, button, .hs-button:focus {
    color: #ffffff;
    background-color: #ec7063;
    outline: none;
}

.dm-st-main .page-header {
    border-bottom: none;
    padding-bottom: 40px !important;
}

.dm-st-main .page-header h1, .dm-st-main .page-header h2, .dm-st-main .page-header h3 {
    font-weight: 700;
    line-height: 1.2em;
    margin-top: 30px;
    margin-bottom: 15px;
}

.dm-st-main .page-header h1 {
    font-size: 48px /* 64px */;
}

.dm-st-main .page-header h2 {
    font-size: 41px /* 52px */;
}

.dm-st-main .page-header h3 {
    font-size: 32px /* 40px */;
}

.dm-st-main .success {
    text-align: center;
}

.dm-st-backup-unsub #content > div {
    padding-bottom: 0 !important;
}

.dm-st-backup-unsub #content > div input[type="email"] {
    padding: 8px 12px !important;
    margin: 0 !important;
}

.dm-st-header {
    text-align: center;
    padding-top: 66px;
    margin-bottom: 30px;
}

.dm-st-footer {
    text-align: center;
    margin-top: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.dm-st-message, .page-header {
    text-align: center;
    margin-bottom: 60px;
}

.dm-st-message h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.search-404 input:not([type=submit]):not([type=file]), .uneditable-input, .search-404 .hs-button { float: left; border-radius: 0; }

.search-404 input:not([type=submit]):not([type=file]), .uneditable-input { 
    width: 80% !important; 
    margin-top: 0 !important;
    height: auto !important;
    border-radius: 0;
}

.search-404 .hs-button { width: 20%; }

@media (min-width: 992px) and (max-width: 1199px) {
    /*.search-404 input:not([type=submit]):not([type=file]), .uneditable-input { width: 75% !important; }*/
    /*.search-404 .hs-button { width: 25%; }*/
}

@media (max-width: 991px) {
    .search-404 input:not([type=submit]):not([type=file]), .uneditable-input { width: 79% !important; }
    .search-404 .hs-button { width: 21%; }
}

@media (max-width: 767px) {
    .search-404 input:not([type=submit]):not([type=file]), .uneditable-input, .search-404 .hs-button { float: none; }
    
    .search-404 input:not([type=submit]):not([type=file]), .uneditable-input { 
        width: 100% !important; 
        margin-bottom: 5px;
    }
    
    .search-404 .hs-button { 
        width: auto;
        display: inline-block;
    }
    .dm-st-backup-unsub #content > div input[type="email"] {
        margin-bottom: 5px !important;
    }
}

@media (max-width: 480px) {
    .dm-st-main .page-header h1 {
        font-size: 34px /* 64px */;
    }
    
    .dm-st-main .page-header h2 {
        font-size: 28px /* 52px */;
    }
    
    .dm-st-main .page-header h3 {
        font-size: 22px /* 40px */;
    }
}


/*****************************************/
/* Header DM Stylesheet  */
/*****************************************/

.dm-header .hs-menu-item ul{
    text-align : left;
}



/*****************************************/
/* Header 10  TEST */
/*****************************************/

.header-10-test {
    padding: 16px 0 5px;
    border-bottom: 1px solid #e4e4e3;
    position: absolute;
    left: 0;
    z-index: 9999;
    width: 100%;
    max-width: 1640px;
    right: 0;
    margin: 0 auto;
}


.header-10-test .wrapper {
    max-width: 1296px;
}

.header-10-test .hs-menu-wrapper>ul {
    padding: 12px 0;
}
.header-10-test .row-fluid-wrapper:last-child .hs-menu-wrapper.hs-menu-flow-horizontal>ul {
    margin-bottom: 0;
}
.header-10-test .hs-menu-wrapper>ul {
    padding: 12px 0;
}

.header-10-test .hs-menu-wrapper.hs-menu-flow-horizontal>ul {
    display: inline-block;
    margin-bottom: 20px;
}

.header-10-test .hs-menu-wrapper.hs-menu-flow-horizontal ul {
    list-style: none;
    margin: 0;
}

.header-10-test .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1 {
    float: left;
    padding: 0;
}

.header-10-test .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children {
    position: relative;
}

.header-10-test .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-menu-depth-1 a {
    font-size: 13px;
    line-height: 26px;
    color: #414241;
    letter-spacing: 0;
    font-weight: 700;
    padding: 0 15px;
}

.header-10-test .hs-menu-wrapper.hs-menu-flow-horizontal>ul li a {
    display: inline-block;
    padding: 10px 20px;
    white-space: nowrap;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.header-10-test .hs-menu-wrapper>ul li a, .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper li a {
    overflow: visible !important;
    max-width: none !important;
    width: auto !important;
}

.header-10-test .hs-menu-wrapper.hs-menu-flow-horizontal.flyouts>ul li.hs-item-has-children ul.hs-menu-children-wrapper {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .4s;
    position: absolute;
    z-index: 10;
    left: 15px;
    background: #ebeff2;
    top: 25px;
    padding: 25px;
}

.header-10-test .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children ul.hs-menu-children-wrapper {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .4s;
    position: absolute;
    z-index: 10;
    left: 0;
}
.header-10-test .hs-menu-wrapper.hs-menu-flow-horizontal ul {
    list-style: none;
    margin: 0;
}

@media (min-width: 951px)
{
.header-10-test .top-nav {
    width: 100%;
    max-width: 75%;
}
.header-10-test .custom-menu-primary2 .hs-menu-wrapper {
    display: block!important;
    float: right;
}

    .header-10-test .right-cta {
    width: 100%;
    max-width: 7%;
    margin-top: 11px;
    margin-left: 0;
    }
}

/*****************************************/
/* Header 10 Stylesheet  */
/*****************************************/
.header-container {
    padding: 0;
}
.header-10 {
    position: relative!important;
    background: #1b1f23;
}
.header-10 .navbar-header {
    max-width: 125px;
}
.header-10 .container .pull-right {
    max-width: 805px;
    text-align:right;
}
.header-10 .row-number-3 {
    position: relative;
    z-index: 2;
    max-width: 1170px;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-right: 15px;
    padding-left: 15px;
}
.header-10 .hs-menu-wrapper ul {
    display: inline-flex;
    margin-top: 0px;
    list-style-type: none;
    padding-left: 0;
}


.header-10 .ten-navigation
{
    margin: 0.7em 0;
}

.hs-menu-wrapper > ul > li {
    padding-right: 12px;
    padding-left:26px;
}

.hs-menu-wrapper > ul > li:first-child{
    padding-left:0;
}
    
.header-10 .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a {
    padding: 20px 0 27px;
    font-size: 17px;
    font-weight: normal;
    color: #7f8c8d;
    font-weight: 500;
    letter-spacing: 1px;
    color: #ffffff;
}
.header-10 .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a:hover,
.header-10 .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a:focus,
.header-10 .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a.active {
    color: #bdc3c7;
}
.header-10 .navbar-form {
    padding: 19px 0 19px 0px;
}
.navbar-form .btn {
    height: auto;
    line-height: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 26px;
    padding-right: 26px;
}
.header-10 .btn.btn-success {
    font-size: 15px;
    font-weight: normal;
    color: #ffffff;
    font-weight: 500;
    background-color: #2ecc71;
}
.header-10 .btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
    color: #ffffff;
    background-color: #58d68d;
    border-color: #58d68d;
}

.header-10 .row-fluid .widget-type-linked_image{
    margin-top: 1.2%;
}

.navbar-header img{
    max-height: 50px!important;
}


@media (min-width: 768px){
    .header-10 ul.hs-menu-children-wrapper {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .4s;
    position: absolute;
    z-index: 10;
    left: 0;
    top: 67px;
    background: #1b1f23;
    display:block;
}
.header-10 ul.hs-menu-children-wrapper li {
    max-width: 150px;
    width: 150px;
}
.header-10 ul.hs-menu-children-wrapper li a {
    padding: 10px 0 17px;
}
.header-10 .hs-menu-wrapper.hs-menu-flow-horizontal>ul li.hs-item-has-children:hover>ul.hs-menu-children-wrapper {
    opacity: 1;
    visibility: visible;
    text-align:center;
}

.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li.hs-item-has-children ul.hs-menu-children-wrapper{
    left: 150px;
    top: 0;
}

}

@media(min-width:768px) and (max-width:1024px){
    .header-10 .row-fluid .widget-type-linked_image {
        margin-top: 14px;
    }
    .header-10 .container .pull-right{
        margin-left:0;
    }
    .header-10 .navbar-form{
        padding: 19px 0 19px 9px;
        margin-left:0 !important;
    }
    .hs-menu-wrapper > ul > li{
        padding-right: 10px;
        padding-left: 10px;
    }
    .navbar-form .btn {
        height: auto;
        line-height: 22px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 767px) {
    .header-10 .row-number-3 {
        position: relative;
        z-index: 2;
        width: 100%;
        margin-right: auto !important;
        margin-left: auto !important;
        padding-right: 15px;
        padding-left: 15px;
    }
    .header-10 .container{
        padding-left:0;
        padding-right:0;
    }
    .ten-navigation.open {
        right: 0;
        height: 100%;
        min-height:100vh!important;
        width: 100%!important;
        position: absolute;
        z-index: 1;
        top: 63px;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        /*transition: 0.5s;*/
        padding-bottom:0;
        padding-top: 14px;
        opacity: 0.95;
        display:inherit!important;
    }
    .ten-navigation {
        position: fixed;
        height: 100%;
        background-color: #ffffff;
        top: 0;
        right: -280px;
        padding: 70px 0 15px;
        transition: 0.3s;
        display:none!important;
        /*-webkit-transition: right 0.4s ease;
    -moz-transition: right 0.4s ease;
    -o-transition: right 0.4s ease;
    transition: right 0.4s ease;*/
    }
    .ten-navigation .hs-menu-flow-horizontal {
        text-align: center;
    }
    .header-10 .hs-menu-wrapper ul {
        display: inline-block;
        list-style: none;
    	padding: 0 0 0 0;
    	width: 100%;
        max-width: 100%;
    }
    .hs-menu-wrapper > ul > li {
        padding-bottom: 10px;
        display: block;
    	font-weight: bold;
    	margin: 1px;
    	cursor: pointer;
    	list-style: circle;
    	-moz-border-radius: 0px;
    	-webkit-border-radius: 0px;
    	border-radius: 0px;
    	border-bottom: 1px solid #ded7d7;
    	padding-top:13px;
    }
      .header-10 .hs-menu-flow-horizontal > ul > li > ul > li > ul > li > a {
        font-size: 16px!important;
    }
    
    
    .header-10 .hs-menu-flow-horizontal > ul li a {
        padding: 8px 8px 8px 0px!important;
        text-decoration: none!important;
        font-size: 16px!important;
        color: #ffffff!important;
        display: block!important;
        text-align:left;
        position:relative;
        text-transform:uppercase;
    }
    
    .header-10 .hs-menu-flow-horizontal > ul > li > a:after {
        color: #ffffff;
        content: ' ▾';
        position:absolute;
        right:8px;
        transistion:all ease-in-out .2s
        -webkit-transistion:all ease-in-out .2s
        -moz-transistion:all ease-in-out .2s
        -ms-transistion:all ease-in-out .2s
    }
    
    .header-10 .hs-menu-flow-horizontal > ul > li.submenu-open> a:after {
        transform:rotate(-180deg);
        -webkit-transform:rotate(-180deg);
        -moz-transform:rotate(-180deg);
        -ms-transform:rotate(-180deg);
    }
    
    .header-10 .hs-menu-flow-horizontal > ul li a:hover {
        color: #f1f1f1!important;
    }
    .navbar-form {
        position: absolute!important;
        top: 0!important;
        left: 0!important;
        right: 0!important;
        margin: auto!important;
        width: 150px!important;
    }
    .burger-nav .burger-line {
        background-color: #ffffff;
    }
    
    .header-10 .row-fluid .widget-type-linked_image{
        margin-top: 2.5%;
    }
    
    .header-10 ul.hs-menu-children-wrapper
    {
    list-style: none;
	padding: 0px 0 0 6px;
	display: none;
    }
    
    .header-10 ul.hs-menu-children-wrapper li
    {
       font-weight: normal;
    	cursor: auto;
    	background-color: #121212;
    	padding: 15px 0 9px 7px;
    }
    
    
       .header-10 ul.hs-menu-children-wrapper > li > ul
    {
    list-style: none;
	padding: 0 0 0 0;
	display: none;
    }
    
    .header-10 ul.hs-menu-children-wrapper li > ul > li
    {
       font-weight: normal;
    	cursor: auto;
    	background-color: #121212;
    	padding: 15px 0 9px 17px;
    }
    
    .header-10 ul.hs-menu-children-wrapper li.hs-item-has-children > a:after {
        color: #ffffff;
        content: ' ▾';
        position:absolute;
        right:8px;
        transistion:all ease-in-out .2s
        -webkit-transistion:all ease-in-out .2s
        -moz-transistion:all ease-in-out .2s
        -ms-transistion:all ease-in-out .2s
    }
    
    .header-10 ul.hs-menu-children-wrapper li.hs-item-has-children.submenu-open > a:after {
        transform:rotate(-180deg);
        -webkit-transform:rotate(-180deg);
        -moz-transform:rotate(-180deg);
        -ms-transform:rotate(-180deg);
    }
    
    
    .header-10 .navbar-form{
        padding:13px 0px 13px;
    }
    .hs-menu-wrapper > ul > li,.hs-menu-wrapper > ul > li:first-child{
        padding-left:20px;
    }
    .hs-menu-wrapper > ul > li:first-child{
        padding-top:0;
    }
    
    
}

@media (max-width: 500px) {
    .header-10 .row-fluid .widget-type-linked_image{
        margin-top: 2.1%;
    }
}

@media (max-width: 400px) {
    .header-10 .row-fluid .widget-type-linked_image{
        margin-top: 2.3%;
    }
}

@media (max-width: 320px) {
    .header-10 .row-fluid .widget-type-linked_image{
        margin-top: 2.5%;
    }
}

/*****************************************/
/* Footer 2 Stylesheet  */
/*****************************************/




footer {
  background-color: transparent;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



.footer-2 .pull-right {
    float: right !important;
}
.footer-2 .pull-left {
    float: left !important;
}





@media (max-width: 767px) {
  footer {
    padding-right: 5px;
    padding-left: 5px;
  }
}

.bg-midnight-blue {
  background-color: #2c3e50;
}

.footer-2 {
  padding-bottom: 20px;
  color: #bdc3c7;
  line-height: 25px;
  padding-top: 30px;
  bottom: 0;
}
.footer-2 a {
  color: #bdc3c7;
  font-weight: normal;
}
.footer-2 a:hover,
.footer-2 a:focus,
.footer-2 a.active {
  color: #979c9f;
}
.footer-2.bg-midnight-blue ul {
    list-style-type: none!important;
    padding: 0;
}

.footer-2 nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
  color: #bdc3c7;
}
.footer-2 nav ul li {
  float: left;
  margin-left: 25px;
  line-height: 25px;
}
.footer-2 nav ul li:first-child {
  margin-left: 0;
}
.footer-2 .social-btns {
  white-space: nowrap;
}
.footer-2 .social-btns > * {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  font-size: 20px;
  font-weight: normal;
  color: #979c9f;
  width: 20px;
  height: 25px;
  overflow: hidden;
  text-align: center;
}
.footer-2 .social-btns > *:first-child {
  margin-left: 0;
}
.footer-2 .social-btns > * > * {
  display: block;
  position: relative;
  top: 0;
  -webkit-transition: 0.25s top;
  -moz-transition: 0.25s top;
  -o-transition: 0.25s top;
  transition: 0.25s top;
}
.footer-2 .social-btns > * > *:first-child {
  color: #bdc3c7;
}
.footer-2 .social-btns > *:hover > * {
  top: -100%;
}
.footer-2 .additional-links {
  font-size: 12px;
  font-weight: normal;
  color: #bdc3c7;
  text-align: center;
}
@media (max-width: 991px) {
  .footer-2 .additional-links {
    clear: both;
    text-align: left;
  }
}
.footer-2 .additional-links a {
  text-decoration: underline;
}
@media (max-width: 480px) {
  .footer-2 {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .footer-2 > .container > * {
    float: none !important;
    *zoom: 1;
  }
  .footer-2 > .container > *:before,
  .footer-2 > .container > *:after {
    content: " ";
    /* 1 */
  
    display: table;
    /* 2 */
  
  }
  .footer-2 > .container > *:after {
    clear: both;
  }
  .footer-2 > .container > *:before,
  .footer-2 > .container > *:after {
    display: table;
    content: "";
    line-height: 0;
  }
  .footer-2 > .container > *:after {
    clear: both;
  }
  .footer-2 nav ul li {
    float: none;
    margin: 18px 0 0;
  }
  .footer-2 nav ul li:first-child {
    margin-top: 0;
  }
  .footer-2 .social-btns {
    margin: 25px 0 10px;
  }
  .footer-2 .pull-left ul{
      columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
     .footer-2 .container .row-number-3 {
        position: relative;
        z-index: 2;
        width: 100%;
        margin-right: auto !important;
        margin-left: auto !important;
        padding-right: 15px;
        padding-left: 15px;
    }
}





.footer-2 .social-btns img
{
    width: 20px;
    height:25px;
}
@media (min-width: 1280px)
{
    .footer-2 .container .row-number-3 {
    position: relative;
    z-index: 2;
    width: 1170px !important;
    margin-right: auto !important;
    margin-left: auto !important;
    padding-right: 15px;
    padding-left: 15px;
}

/*.footer-2 .additional-links {
    width: 29.170940171000005%!important;
}
.footer-2 .pull-left{
    width: 45.623931624%!important;
}
.footer-2 .pull-right{
        width: 13.076923077%!important;
}
*/
}
/*
.full-width-content-8{
  width: 100%;
  padding-right:0px;
  padding-left:0px;
}

.full-width-content-8 .img{
    background-size: contain;
    height: 300px;
    max-height: 300px;
    max-width: 100%!important;
    background-repeat: no-repeat;
    background-size: auto 100%;
    margin: 0 auto;
}
*/
.full-width-content-8{
  width: 100%;
  padding-right:0px;
  padding-left:0px;
}
.full-width-content-8 .full-width-div{
 background-size:     contain;                      
 background-repeat:   no-repeat;
 background-position: center center;      
 height: 300px;
 max-height: 300px;
}







/*=========================== Header Style July 2017 ======================== */

body .header-style-20 {
    background-color: #fff;
    height: auto;
}

.header-style-20 .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a:hover,
.header-style-20 .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a:focus,
.header-style-20 .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a.active {
    color: #3498db;
}

.header-style-20 .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a {
    color: #bdc3c7;
    letter-spacing: 1px;
    padding: 38px 0 39px;
    font-size: 18px;
    font-weight: 800;
}

.header-style-20 .hs-menu-wrapper.hs-menu-flow-horizontal > ul li > ul li a,
.header-style-20 .hs-menu-wrapper.hs-menu-flow-horizontal > ul li > ul li > ul li a{
    padding: 22px 0 22px;
}


.header-style-20 .row-fluid .widget-type-linked_image {
    margin-top:0;
    padding: 0;
}

.header-style-20 .ten-navigation {
    margin: 0;
}

.header-style-20 .burger-nav .burger-line {
    background-color: #000; 
}


@media(min-width:768px) and (max-width:1024px){
body .header-style-20 .hs-menu-wrapper.hs-menu-flow-horizontal > ul li a {
    font-size: 13px;
}
}


@media(max-width:767px){
body .header-style-20 {
    height: 60px;
}

body .row-fluid .header-style-20 .navbar-header {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 60px;
}

body .header-style-20 .row-fluid .widget-type-linked_image {
    margin-top: 0;
    float: left;
}

.header-style-20 .burger-nav {
    top: 16px;
}

.header-style-20 .ten-navigation.open {
    min-height: 93vh!important;
    top: 60px;
}

}


@media (min-width: 768px){
body .row-fluid .header-style-20 .navbar-header {
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 97px;
}

.header-style-20 ul.hs-menu-children-wrapper li {
    max-width: 170px;
    width: 170px;
}

.hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-item-has-children ul.hs-menu-children-wrapper li.hs-item-has-children ul.hs-menu-children-wrapper {
    left: 170px;
    top: 0;
}
.header-style-20 ul.hs-menu-children-wrapper {
    top: 97px;
    background: rgba(9,19,36,0.95);
}


}





/*=========================== FOOTER 3 Style July 2017 ======================== */
body .container-fluid .row-fluid .footer-3 .wrapper {
    position: relative;
    z-index: 2;
    max-width: 1170px;
    margin-right: auto ;
    margin-left: auto ;
    padding-right: 15px;
    padding-left: 15px;
    float: none;
}

.footer-3 {
    padding: 65px 0;
}


.additional-links a {
    color: #bdc3c7;
    text-decoration: underline;
}

.additional-links p {
    color: #bdc3c7;
    font-size: 14px;
    margin: 0;
}

.footer-3 .address {
    color: #bdc3c7;
}

.footer-3 h6 {
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: normal;
    color: #ffffff;
    font-weight: 300;
    text-transform: none;
}

.footer-2 .social-btns a:first-child {
    margin-left: 0;
}

.footer-2 .social-btns a {
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
    font-size: 20px;
    font-weight: normal;
    color: #979c9f;
    width: 20px;
    height: 25px;
    overflow: hidden;
    text-align: center;
}

.fui-facebook:before {
    content: "\e03f";
}

.fui-twitter:before {
    content: "\e042";
}



.footer-2 .social-btns > * > * {
    display: block;
    position: relative;
    top: 0;
    -webkit-transition: 0.25s top;
    -moz-transition: 0.25s top;
    -o-transition: 0.25s top;
    transition: 0.25s top;
}

.copyright-footer p {
    font-size: 12px;
    font-weight: normal;
    color: #bdc3c7;
    text-align: center;
    margin: 2px 0 0;
}

.footer-2 .hs-menu-wrapper > ul > li {
    padding-right: 12px;
    padding-left: 12px;
}


/* Footer 2 */
.footer-2 .hs-menu-wrapper.hs-menu-flow-horizontal > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    color: #bdc3c7;
}

.footer-2 .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 {
    float: left;
    margin-left: 25px;
    line-height: 25px;
}

.footer-2 .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1:first-child {
    margin-left: 0;   
}

.footer-2 .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 > a{
    color: #bdc3c7;
    font-weight: normal;
}

.footer-2 .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 > a:hover, .footer-2 .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 > a:focus, .footer-2 .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 > a.active {
    color: #979c9f;
}

@media (max-width: 568px) {
    .footer-2 .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 {
        float: none;
        margin-left: 0;
    }
}

.footer-2 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #bdc3c7;
    line-height: 25px;
}

.footer-2 .widget-type-simple_menu ul li {
    float: left;
    margin-left: 0px;
    line-height: 25px;
    list-style-type: none;
}

body .footer-2 .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 {
    float: left;
    margin-left: 0px;
    line-height: 25px;
}

.footer-2 a:hover,
.footer-2 a:focus,
.footer-2 a.active {
    color: #979c9f;
}

.footer-2 a {
    color: #bdc3c7;
    font-weight: normal;
}

.footer-2 .widget-type-simple_menu ul li:first-child {
    margin-left: 0;
}
@media (max-width: 480px){
    body .footer-2 .social-btns {
        margin: 0;
    }
}



@media(max-width:767px){
.footer-3 .additional-links p {
    font-size: 13px;
}
.footer-3 .footer-logo,
.footer-3 .additional-links {
    margin-bottom: 30px;
}

body .footer-2 .hs-menu-wrapper.hs-menu-flow-horizontal > ul li.hs-menu-depth-1 {
    float: none;
    margin-left: 0px;
    line-height: 25px;
    border: 0;
    width: 100%;
    padding-top:5px;
    padding-left:0;
}

body .row-fluid .footer-2 .footer-2-menu,
body .row-fluid .copyright-footer,
body .row-fluid .copyright-footer p,
body .row-fluid .social-media-wrapper{
    width: 100%;
    overflow: hidden;
    float: left!important;
    text-align: left;
    margin-bottom: 20px;
}
}


@media(min-width:768px) and (max-width:1024px){
body .footer-2 .hs-menu-wrapper.hs-menu-flow-horizontal > ul {
    font-size: 13px;
}
body .footer-2 .hs-menu-wrapper > ul > li {
    padding-right: 7px;
    padding-left: 7px;
}

}




/************CUSTOM BLOG FEED 4 Col*************/

.custom-blog-feed .hs-with-featured-image {
    display: table;
    border-spacing: 0px 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}
.custom-blog-feed .hs-rss-item.hs-with-featured-image .hs-rss-item-image-wrapper {
    width: 80%;
    display: table-header-group;
}
.custom-blog-feed .hs-rss-item.hs-with-featured-image .hs-rss-item-text {
    padding-right: 0px;
    float: none;
    display: table-footer-group;
}
.custom-blog-feed a.hs-rss-title {
    color: #e64c3c;
    font-size: 120%;
    margin-bottom: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    line-height: 1.2em;
    margin: 0 0 15px;
    font-weight: bold;
}
.custom-blog-feed .hs-rss-description {
    padding-top: 25px;
}
.custom-blog-feed .hs-rss-description a {
    display: block;
    font-weight: bold;
}
@media (min-width: 768px) {
    .custom-blog-feed .hs-with-featured-image {
        width: 25%;
    }
    .custom-blog-feed .feedreader_box {
        display: inline-flex;
    }
}
@media (max-width: 480px) {
    .custom-blog-feed .content-rt {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    input#edit-search-block-form--2 {
        margin: 0;
    }
}